@model PasswordResetView
@{
    ViewData["Title"] = "ConfirmPasswordReset";
}

    <section class="pd-y-70 bg-black-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="tx-gray-800">Reset Password</h2>
                            <div asp-validation-summary="All" class="text-danger small"></div>
                            <form asp-action="ConfirmResetPassword" method="post">
                                <input type="hidden" asp-for="Code" />
                                <input type="hidden" asp-for="UserId" />

                                <div class="form-group">
                                    <input asp-for="Password" class="form-control form-control-lg" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="ConfirmPassword" class="form-control form-control-lg" placeholder="Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="input-group">
                                    <button class="btn-block theme-button button-1">
                                        <i class="la la-refresh"></i>
                                        Reset Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
