
@{
    ViewData["Title"] = "RegistrationSuccess";
}

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h2>Your password has been changed!</h2>

                            <a asp-action="Login" asp-controller="Account" class="theme-button button-1">Click here to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

