
@{
    ViewData["Title"] = "RegistrationSuccess";
}

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4>@ViewBag.Message</h4>

                            <a href="/" class="theme-button button-1">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

