
@{
    ViewData["Title"] = "ResendConfirmationEmail";
}

<section class="pd-y-70 bg-black-1">
    <div class="container">
        <h2 class="text-center">Resend Confirmation E-Mail</h2>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="ResendConfirmationEmail" method="post">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form-control-lg" placeholder="Email" />
                            </div>

                            <div class="input-group">
                                <button class="btn-block theme-button button-1">
                                    <i class="la la-envelope"></i>
                                    Resend Confirmation Email
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>