@model Resource

@{
    ViewData["Title"] = "Create Resource";
}

<!--Begin Nav-->
<nav class="mb-3">
    <a asp-action="Index" class="btn btn-with-icon btn-indigo">
        <i class="la la-arrow-left"></i>
        Back to List
    </a>
</nav>
<!--End Nav-->

<div id="app" class="card">
    <div class="card-body">
        <form asp-action="Create" method="post" v-on:submit="UpdateBody()" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control editor"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
				<div class="col-lg-4">
					<div class="form-group">
						<label asp-for="Category"></label>
						<select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))" class="form-control select"></select>
					</div>

					<div class="form-group">
						<label asp-for="ResourceAccesses">Resource Access</label>
						<select asp-for="SelectedAccesses" asp-items="@(new SelectList(ViewBag.Accesses, "Id", "Name"))" class="form-control select-multiple"></select>
					</div>

					<div class="form-group">
						<label asp-for="IsLocalResource">Is Local Resource</label>
						<div class="az-toggle">
							<span></span>
							<input type="checkbox" asp-for="IsLocalResource" onchange="app.IsLocalResource = this.checked" hidden />
						</div>
					</div>

					<div class="form-group" v-if="!IsLocalResource">
						<label asp-for="ResourceUrl"></label>
						<input asp-for="ResourceUrl" class="form-control" />
						<span asp-validation-for="ResourceUrl" class="text-danger"></span>
					</div>

					<div class="form-group" v-if="IsLocalResource">
						<label asp-for="LocalFile">Local File</label>
						<input asp-for="LocalFile" class="form-control-file" />
						<span asp-validation-for="LocalFile"></span>
					</div>

					<div class="form-group">
						<label>Featured Image</label>
						<input type="hidden" asp-for="ImageId" />
						<img id="featuredImage" src="" class="img-fluid w-100" alt="" />
						<div class="btn-group w-100">
							<button type="button" class="btn btn-block btn-primary" onclick="GetFeaturedImage()">Choose Image</button>
							<button type="button" class="btn btn-indigo btn-icon" onclick="ResetFeaturedImage()">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>

					@*<div class="form-group">
						<label asp-for="IsLocalResource">Requires Login</label>
						<div class="az-toggle">
							<span></span>
							<input type="checkbox" asp-for="RequiresLogin" hidden />
						</div>
					</div>*@

					<button class="btn btn-with-icon btn-primary">
						<i class="la la-plus"></i>
						Submit
					</button>
				</div>
            </div>
        </form>
    </div>
</div>


<script>
        console.log($('#IsLocalResource')[0]);
        var app = new Vue({
            el: '#app',
            data: {
                body: '',
                IsLocalResource: false
            },
            methods: {
                UpdateBody: function () {
                    var b = $('#editor .ql-editor').html();
                    this.body = b;
                },
                Toggle: function () {
                    alert();
                }
            },
            created: function () {
                this.IsLocalResource = $('#IsLocalResource')[0].checked;
            }
        });

        function GetFeaturedImage() {
            $.fancybox.open({
                src: '@Url.Action("ImageGetter", "Gallery")',
                type: 'ajax',
                afterClose: function (instance, current, e) {
                    var button = e ? e.target || e.currentTarget : null;
                    var thumb = button ? $(button).attr('src') : 0;
                    var imageId = button ? $(button).data('id') : 0;

                    $('#featuredImage').attr('src', thumb);
                    $('#ImageId').val(imageId);
                }
            })
        }

        function ResetFeaturedImage() {
            $('#featuredImage').attr('src', '');
            $('#ImageId').val('');
        }
</script>