
@{
    ViewData["Title"] = "About";
}

<header class="page-heading s-p-100" style="background-image: url('/img/about_top-page.jpg');">
    <div class="container text-center">
        <h1>About Lifebuilders Resource</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
        </nav>
    </div>
</header>


<section class="s-p-100">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="section-header">
                    <span>About Lifebuilders Resource Ministry</span>
                    <h2>The Big Question</h2>
                </div>
                <p>
                    What are the odds that our youths, emerging leaders, Churches and families will successfully resist the Humanist and New Age philosophies challenging Biblical Morality and authentic Christian faith in the 21st century?
                </p>
                <p>
                    The 21st century came with much of technological achievements, scientific breakthroughs and economic possibilities. Unfortunately, the same century has recorded worrisome rate of crime globally, horrifying moral bankruptcy, alarming rate of divorce and highly deceptive arguments against biblical worldview and Christian civilization. Consequently, the core values of our families and communities no longer reflect biblical Christianity even in places where religious activities are on the increase.   How will 21st century Christians respond to this challenge?
                </p>
				<p>
					At Lifebuilders Resource Ministry, we seek to be one of the answers to this challenge as we help train and disciple Christians and Ministry leaders to think biblically on basic faith foundations, Christian spirituality and contemporary culture.
				</p>
            </div>
            <div class="col-lg-5 image-container">
                <img src="~/img/about1.jpg" alt="" class="image" />
            </div>
        </div>
    </div>
</section>


<section class="s-p-100 bg-light">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper mg-b-70">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="card bg-transparent border-0">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="image-container image-1-1">
                                    <img src="~/img/blog2.jpg" alt="" class="image">
                                    <a href="" class="hover-overlay">
                                        <i class="hover-icon icofont-link icofont-2x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <h3>Who we Are</h3>
                                    <p>
                                        We are committed to being and making disciples. Disciples are people who are so in love with Jesus, they have decided that the most important…
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-transparent border-0">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="image-container image-1-1">
                                    <img src="~/img/blog3.jpg" alt="" class="image">
                                    <a href="" class="hover-overlay">
                                        <i class="hover-icon icofont-link icofont-2x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <h3>What we Believe</h3>
                                    <p>
                                        “Be completely humble and gentle; be patient, bearing with one another in love. Make every effort to keep the unity of the Spirit through the bond of …
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card bg-transparent border-0">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="image-container image-1-1">
                                    <img src="~/img/blog4.jpg" alt="" class="image">
                                    <a href="" class="hover-overlay">
                                        <i class="hover-icon icofont-link icofont-2x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="">
                                    <h3>About Our Mission</h3>
                                    <p>
                                        We are committed to being and making disciples. Disciples are people who are so in love with Jesus, they have decided that the most important…
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination" style="bottom: 0px"></div>
        </div>
    </div>
</section>

<section class="s-p-100 bg-image" style="background-image: url('/img/back.jpg'); background-position-x: -100%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-header">
                    <span></span>
                    <h2>Our Mission</h2>
                </div>
                <p>
                    God has given Lifebuilders Resource, the job of bringing solutions to the problems attacking biblical Christianity in the heart of today’s youths,  leaders and young families. God has called us to confront the humanist perspectives that dominate the hearts and minds of people with a Biblical Worldview in a culturally relevant way. We trust God to win obedience to Jesus in the heart of our people and train them to follow Jesus. We Do this Through;
                </p>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container-fluid">
        <div class="row text-light">
            <div class="col-lg-4 pd-y-50 pd-lg-x-80 bg-theme-2">
                <div>
                    <h4>Discipleship</h4>
                    <p class="text-light">
                        Fulfilling the Great Commission requires that people be helped to know and understand how to live in obedience to all that Jesus has commanded. Our discipleship effort is aimed at helping every person to see and respond to life from Jesus perspective. You can take advantage of our discipleship classes online or group meetings in Lagos. For more information, go to Online Discipleship or Group Meetings
                    </p>
                </div>
            </div>
            <div class="col-lg-4 bg-theme-3 pd-y-50 pd-lg-x-80">
                <div>
                    <h4>Training</h4>
                    <p class="text-light">
                        <b>Training in Whole Church Disciple Making</b>: We engage in training Church Leaders on how to initiate and sustain whole Church Discipleship. Many leaders want to disciple their members but they have not yet found a working strategy. This training will equipment you a working strategy that has worked for many congregations.
                    </p>
                    <a href="javascript:;" data-fancybox data-src="#training-more" class="theme-button button-4">More...</a>
                    <div id="training-more" class="wd-md-400" style="display: none;">
                        <p>
                            <b>Training in Biblical Worldview and Teaching</b>: How do you help your congregations (Christians from African Traditional Religion, Atheist, Hedonistic worldviews) to grow out of the worldview that shaped their cultures into a Biblical Worldview? How can you help your child to resist the constant pressure from College Professors to doubt the truthfulness of the Bible? This training is customized for College Students, Christian Educator, Pastors and Church Leaders, Parents and Christians in governments.
                            Training for Marriage: Pre-marriage counseling, Before you say I do, Family Life Training, etc.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bg-theme-4 pd-y-50 pd-lg-x-80">
                <div>
                    <h4>Advocacy</h4>
                    <p class="text-light">
                        Helping to sensitize Christans and the general public on the need to change  toxic policies or practices and replace them with good ones. To this, we have featured in public hearings at the National Assembly and other fora as opportunity arises.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-p-100">
    <div class="container">
        <div class="section-header text-center">
            <span>Lifebuilders Resource</span>
            <h2>About the Founder</h2>
        </div>

        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <p>
                    Ifiok Ukobo, together with his wife, is a full time missionary at Lifebuilders Resource. He served as Vice Provost for Academics at Africa Centre for Theological Studies until 2009 when he resigned to give more attention to field discipleship. He continues to function at the institution as an adjunct faculty till date. He is the founder of Think Right and Live Right Club and Lifebuilders Resource, two ministry streams that resource Christian leadership in the Education Sector, the Church, and the general community.
                </p>
                <p>
                    He has been involved in the training ministries for more than 20 years. He is also the convener of Lagos Christian Teachers Conference, Life in the Spirit Conference, Ministry leaders Biblical Worldview Training and others. He is the initiator of Biblical Worldview Discipleship and Training. A specialized discipleship strategy designed to help emerging Christians leaders defeat humanistic philosophies destroying proper biblical Christianity in this postmodern world era. This initiative has both an online version and local discipleship group version. He also served as a missionary with Campus Crusade for Christ for twelve years. He is the author of Worldview Wars, Love and Relationship 101, and numerous Articles and evangelistic tracts. He is married with children.
                </p>
            </div>
        </div>
    </div>
</section>