@model AppUser

@{ 
    ViewData["title"] = "Create Admin User";
}

    <nav class="mb-3">
        <a asp-action="Index" asp-controller="Accounts" class="btn btn-indigo btn-with-icon">
            <i class="la la-arrow-left"></i>
            Back to List
        </a>
        <a asp-action="Create" asp-controller="Accounts" class="btn btn-success btn-with-icon">
            <i class="la la-plus"></i>
            Create New
        </a>
    </nav>

    <form method="post">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="LastName">Last Name</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="FirstName">First Name</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserName">Username</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-with-icon btn-primary">
                            <i class="la la-user-plus"></i>
                            Register
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>