@model AppUser

@{
    ViewData["Title"] = "Index";
}

    <section class="s-p-100">
        <div class="container">
            <div class="section-header">
                <span>We are Disciples of Christ</span>
                <h2>Join a discipleship group</h2>
            </div>

            @(await Html.PartialAsync("_Alerts"))

            <div class="row">
                <div class="col-lg-6 position-relative overflow-hidden pd-y-200 mb-3">
                    <img src="~/img/discipleship.jpg" class="image px-3 clip-right-arrow" alt="" />
                </div>
				<div class="col-lg-6 mb-3">
					<p>
						Lifebuilders Discipleship is designed to help you think like Jesus. The master invites you to see things through His eyes and wants you to respond by committing to learn from Him. Just Imagine for a while, what are Jesus' thoughts about you, Civil government, Economic systems, Arts and entertainment, Marriage and family, Education, Physical health and your eternal destiny. At Lifebuilders, you get to learn this with others who are similarly seeking to follow Jesus.
					</p>

					<p>
						The bible teaches that we do not only have to forsake our wicked ways as children of God but also our unrighteous thoughts. Isaiah called out to the children of Israel, “Let the wicked forsake his way. And the unrighteous man his thoughts; Let him return to the LORD, And He will have mercy on him; And to our God, For He will abundantly pardon.” (Isaiah 55:7).
					</p>

					<p>
						We have to be intentional at both forsaking our wicked ways and our unrighteous thoughts about God and His creation. The opportunity to do this is offered both online and through in-person discipleship groups meetings.
					</p>

					<p>
						The entire Discipleship Program is offered through 5 Discipleship Modules. They include Module 1 Introduction to Biblical Worldview. Module 2 Understanding Grace and Faith. Module 3 Marriage, Family and Gender. Module 4 Biblical Leadership and Society. Module 5 Contemporary Socio-Cultural issues - A biblical perspective.
					</p>

					<p>
						Each Discipleship Module last for about six months. Online Discipleship requires at least two contacts per month with each contact lasting between 1hr and 1.5hrs.
					</p>

					<p>
						To participate, fill out an application form here. You'll get a feedback with details on your participation.
					</p>

					@*<a asp-action="Member" class="theme-button button-2 mb-2">I am a registered member on this Website</a>
		<a asp-action="Register" asp-controller="Account" asp-route-discipleship="true" class="theme-button button-2 mb-2">I am not registered on this website</a>*@

					<a href="https://docs.google.com/forms/d/e/1FAIpQLSf5IybDU_lXPokJmJRHdP8WkbYwKPnk6fUj_-TTp7sxwxEazA/viewform" target="_blank" class="theme-button button-2 mb-2">
						Register
					</a>
				</div>
            </div>
        </div>
    </section>

